extends layouts/template.pug

block title
	title Index Page

block content
	include includes/banner.pug
	include includes/slider.pug
	include includes/left-fl-img-block.pug
	include includes/right-fl-img-block.pug
	include includes/recent-works-block.pug
