.form-div
{
    margin: 0px auto;
    margin-top:70px;
    width: 440px;
    height: auto;
    background-color: white;
    margin-bottom:128px;
    border-radius: 10px;
}

.form-style
{
    width: 500px;	
    padding: 25px 70px;

}
.form-div-login
{
    margin: 150px auto;
    margin-top:70px;
    width: 440px;
    height: auto;
    background-color: white;
    margin-bottom: 120px;
    border-radius: 10px;

}
.form-style-login
{
    width: 500px;	
    padding: 25px 70px;

}

input
{
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;

}
input[type=submit]#login-button
{
    width: 275px;
    border:none;
    background-color: #5bbc2e;
    cursor: pointer;
    color:white;
}
input[type=submit]
{
    width: 305px;
    border:none;
    background-color: #5bbc2e;
    cursor: pointer;
    color:white;
}

.no-decor-a 
{
    text-decoration: none;
    color:  #5bbc2e;
}
.form-style.login-error
{
    color: red;
    font-size: 15px;
}



