.rh-fl-block
	.container
		.rh-fl-inner.clearfix
			.rh-fl-img-block
				img(src="img/rh-fl-img.png", alt="")
			.rh-fl-txt-block
				h4 Great 
					span work starts 
					| with great talent 
				p Get amazing results working with the best programmers, designers, writers and other top online pros. Hire freelancers with confidence, always knowing their work experience and feedback from other clients. 