.banner-block.clearfix
	.container
		.banner-txt
			h2
				| Where will 
				span great work 
				| take you?
			span.line 
			p Find freelancers to tackle any job, any size, any time
			a(href="#") Get started