.lf-fl-block
	.container
		.fl-inner.clearfix
			.lf-fl-img-block
				img(src="img/lf-fl-img.png", alt="")
			.lf-fl-txt-block
				h4 Find 
					span the perfect 
					| match fast 
				p Start your job in hours, not weeks. Get a shortlist of skilled freelancers instantly, tapping into our hiring know-how and matching technology. Interview favorites online and hire with the click of a button. 